h1 {
  text-align: center;
}

.square {
  height: 100px;
  width: 100px;
  border: 2px solid black;
}

.board-game {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  margin: 0 auto;
}
.button-section {
  text-align: center;
}
.reset-button {
  padding: 10px;
  border-radius: 10px;
  margin: 15px;
  font-size: 1rem;

}